/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
    margin: 0;
    padding: 0;
    animation: bgcolor infinite 20s;
}

@keyframes bgcolor {
    0% {
        background: #0b132b;

    }

    20% {
        background: #1c2541;
    }

    40% {
        background: #3a506b;

    }

    60% {
        background: #0b132b;
    }

    80% {
        background: #1c2541;

    }

    100% {
        background: #3a506b;
    }
}

nav {
    border-color: #6fffe9;
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    padding: 16px;
}

a:hover {
    cursor: pointer;
    color: #162bb9b2
}

a {
    color: #ea34de;
    text-decoration: none;

}

h1 {
    color: #ea34de;
}

footer {
    background-color: #0b132b;
    color: #5bc0be;
    padding-top: 24px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0;
    text-align: center;
    font-size: 25px;
}

body {
    background-color: hex#5bc0be;
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
    margin-bottom: 800px;
} */
