{% extends "base.html" %}

{% block title %}
    SignUp
{% endblock title %}
{% block content %}
    <body>
        <main>
            <div>
                <h1>Signup</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Signup</button>
                </form>
            </div>
        </main>
    </body>
{% endblock content %}
