{% extends 'base.html' %}

{% block title %}
    Create a Task
{% endblock title %}
{% block content %}
    <body>
        <main>
            <div>
                <h1>Create a New Task</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
{% endblock content %}
